.sider 
  .inner-menu 
    ul 
      li 
        a(href=`/${prefixAdmin}/dashboard`) Tong Quan   
      li 
        a(href=`/${prefixAdmin}/products-category`) Danh Muc San Pham
      li 
        a(href=`/${prefixAdmin}/products`) San Pham  
      li 
        a(href=`/${prefixAdmin}/roles`) Nhom Quyen 
      li
        a(href=`/${prefixAdmin}/roles/permissions`) Phan Quyen 