.sider 
  .inner-menu 
    ul 
      li 
        a(href=`/${prefixAdmin}/dashboard`) Tong Quan   
      if (role.permissions.includes("products-category_view"))
        li 
          a(href=`/${prefixAdmin}/products-category`) Danh Muc San Pham
      if (role.permissions.includes("products_view"))
        li 
          a(href=`/${prefixAdmin}/products`) San Pham  
      if (role.permissions.includes("roles_view"))
        li 
          a(href=`/${prefixAdmin}/roles`) Nhom Quyen 
      if (role.permissions.includes("roles_permissoions"))
        li
          a(href=`/${prefixAdmin}/roles/permissions`) Phan Quyen 
      if (role.permissions.includes("accounts_view"))
        li
          a(href=`/${prefixAdmin}/accounts`) Tai Khoan